{% extends 'avto/base.html' %}
{% load static %}



{% block content1 %} 

<style>
  @media (max-width: 767px) {
    .card-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    
    .card {
      width: 100%;
      margin: 10px;
      max-width: 300px;  /* Ограничиваем ширину карточки на мобильных устройствах */
    }
  }
  </style>

  <div class="card-container">
    {% for avto in avtos %}
      <div class="card">
        <a href="{% url 'avto:avto_detail' avto.id %}">
          <div class="card-image">
           <img src="{% if avto.image %}{{ avto.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" alt="{{ avto.brand }} {{ avto.model }}">
          </div>
          <div class="card-details">
            <h3>{{ avto.brand }}</h3>
            <p>{{ avto.model }}</p>
            <p>Год выпуска: {{ avto.year }}</p>
            <p>Цена: {{ avto.price }}</p>
            <p>Дата создания: {{ avto.created|date:"F j, Y" }}</p>
          </div>
        </a>
      </div>
    {% empty %}
      <p>Лоты отсутствуют</p>
    {% endfor %}
  </div>

{% endblock %}