{% load static %} 
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Аукцион</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <header >
    <h1 style="text-align: center; color: #FFF; text-shadow: 0 0 4px #FFF; font-size: 2.5em;">Авто аукцион</h1>
    <nav >
      <ul >
        <li><a href="{% url 'account:register' %}">Регистрация</a></li>
        <li><a href="{% url "account:login" %}">Вход</a></li>
        <li><a href="{% url 'avto:avto_list' %}">Лоты</a></li>
      </ul>
    </nav>
  </header>

  

  <div class="image">
    <img src="{% static 'img/красивая_девушка.jpg' %}" alt="Красивая девушка">
  </div>

  <footer>
    <p>© 2024 Авто аукцион</p>
  </footer>

  <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>