{% extends "avto/base.html" %}
{% load static %} 


{% block content1 %}
<style>
  .containers {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 15px white;
  }

  /* Стиль заголовка */
  h1 {
    color: #000;
  }

  /* Стиль текста */
  p {
    color: #000;
  }

  /* Стиль ссылки */
  .my-link {
    color: red;
  }

  .container {
    min-height: 41vh;
  }


</style>

<div class="containers">
  <h1>{{ user.username }}</h1>
  <p>
    Пароль успешно сменен.
    Теперь вы можете <a class="my-link" href="{% url 'account:login' %}">войти</a>.
  </p>
</div>

{% endblock %}